body{
    font-family: "Montserrat", sans-serif;
    background-color: #F99151;
}

.login-container{
    position: relative;
    top: 160px;
    display: grid;
    justify-self: center;
    width: 400px;
    padding-right: 60px;
    padding-left: 60px;
    background-color: #fff;
    border-radius: 20px;

    .login-title{
        text-align: center;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .login-btn{
        display: flex;
        justify-self: center;
        justify-content: center;
        padding-top: 5px;
        width: 80px;
        height: 35px;
        margin-top: 30px;
        margin-bottom: 15px;
        color: #ffffff;
        background-color: #C0520E;
        border: solid 1px #985700;
        border-radius: 5px;
    }
}

.recSubtitle{
    display: flex;
    justify-self: center;
    margin-top: 20px;
}

.recInput{
    display: flex;
    justify-self: center;
}

.newPswSubtitle{
    display: flex;
    justify-self: center;
    margin-top: 20px;
}

.newPswInput{
    display: flex;
    justify-self: center;
}

.loginDsp-container{
    position: relative;
    top: 160px;
    display: grid;
    justify-self: center;
    width: 400px;
    padding-right: 60px;
    padding-left: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;

    .login-title{
        text-align: center;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .login-btn{
        display: flex;
        justify-self: center;
        justify-content: center;
        padding-top: 5px;
        width: 80px;
        height: 35px;
        margin-top: 30px;
        margin-bottom: 15px;
        color: #ffffff;
        background-color: #C0520E;
        border: solid 1px #985700;
        border-radius: 5px;
    }
}

.enlaces{
    color: #985700;
}